html, body {
    height: 100%;
}
.largebox {
    background-color: aqua;
    height: 100%;
    overflow: auto;
    position: relative;
}

.midllebox {
    height: 100%;
    width: 200px;
    margin: 0 15px;
    display: inline-block;
}
.red{
    background-color: red;
    overflow: auto;
}

.blue {
    background-color: blue;
    overflow: auto;
}

.green {
    background-color: green;
    overflow: auto;
}
.gorizontal1{
    width: 210px;
    height: 100px;
    background-color:blue;
}
.gorizontal2{
    width: 210px;
    height: 100px;
    background-color:red;
}
.gorizontal3{
    width: 210px;
    height: 100px;
    background-color:red;
}
.position{
    width: 210px;
    height: 100px;
    background-color:grey;
    position: fixed;
    top: 15px;
    right: 15px;
    overflow: auto;
    }
